apiVersion: apps/v1
kind: Deployment
metadata:
  name: brian-yolo-client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: client
          image: santhac/brian-yolo-client:v1.0.0
          ports:
            - containerPort: 3000
          env:
            - name: NODE_OPTIONS
              value: --openssl-legacy-provider
            # NOTE: If your frontend needs to know the backend URL, 
            # you'll need an environment variable here pointing to the Service name.
            # Example: REACT_APP_BACKEND_URL: http://brian-yolo-backend:5000
---
apiVersion: v1
kind: Service
metadata:
  name: brian-yolo-client 
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: NodePort 