apiVersion: apps/v1
kind: Deployment
metadata:
  name: brian-yolo-client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: client
          image: santhac/brian-yolo-client:v2.0.0 
          ports:
            - containerPort: 3000 # Container still runs internally on 3000
          env:
            - name: REACT_APP_BACKEND_URL 
              value: http://brian-yolo-backend:5000
---
apiVersion: v1
kind: Service
metadata:
  name: brian-yolo-client 
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: LoadBalancer